html {
    font-size: 10px;
    /* px means "pixels": the base font size is now 10 pixels high */
    font-family: "Rubik Mono One", monospace;
    /* this should be the rest of the output you got from Google Fonts */

    background-color: #044F77;
}

h1{
    font-size: 30px;
    text-align: center;
}

h2{
    font-size: 20px;
    text-align: center;
}

p,
li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}

body{
    width: 600px;
    margin: 0 auto;
    padding: 0 20 20 20;
    background-color: rgb(19, 137, 158);
    border: 5px solid goldenrod;
}

h1 {
    margin: 0;
    padding: 20px 0;
    color: #044F77;
    text-shadow: 3px 3px 1px black;
}

img{
    display: block;
    margin: 0 auto;
}
/*img is an inline element, unlike body which is a block element*/
/*To use the auto property value with img, we need to make it act like a block*/
/*This is done by the display:block rule*/
  